/*#sortable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
#sortable2 { list-style-type: none; margin: 0; padding: 0; width: 200px; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
#sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: .5em; line-height: .5em; }
html>body #sortable2 li { height: .5em; line-height: .5em; }

*/

ul.stab { list-style-type: none; margin: 0; padding: 0; width: 200px; }
li.stab { list-style-type: none; margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body li.stab { list-style-type: none; height: .5em; line-height: .5em; }
.ui-state-highlight { list-style-type: none; height: .5em; line-height: .5em; }
li.ui-state-highlight { list-style-type: none; height: .5em; line-height: .5em; }
ul.ui-state-highlight { list-style-type: none; height: .5em; line-height: .5em; }

